<% provide(:title, "About") %>
<h1>About Members Only</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3 well">	
  		<p>
    		Members only is a club house website where only logged-in users can view the authors of posts. Users that are not logged-in can only see the body text of the posts and are left wondering who wrote them.
    	</p>

    	<p>
    		At present this site does not have any signup functionality. But please use the credentials provided below to enter the site and play around with it, thanks for visiting. 
    	</p>

    	<h3>User Credentials:</h3>
    	<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th>Email:</th>
    				<th>Password:</th>
    			</tr>
    		<tbody>
    			<tr>
    				<td>kevin@email.com</td>
    				<td>foobar</td>
    			</tr>
    			<tr>
    				<td>sterling@email.com</td>
    				<td>password</td>
    			</tr>
    		</tbody>

    		</thead>

    	</table>
	</div>
</div>

